@import 'tailwindcss';
@import "./components.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../node_modules/flyonui/flyonui.js";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant provider (&:where(.provider, .provider *));

@layer base {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        box-shadow: 0 0 0px 1000px white inset !important;
        -webkit-text-fill-color: #111827 !important; /* gray-900 */
        transition: background-color 9999s ease-in-out 0s;
    }
    input.form-input-valid:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #ecfdf5 inset !important; /* green-50 */
    }
}