.btn-menu {
    @apply items-center
           gap-3
           px-4
           text-left
           transition-colors
           cursor-pointer
           whitespace-nowrap
           hover:bg-gray-50
           hover:text-orange-500
           prestataire:hover:text-blue-500
           hover:lg:bg-transparent;
}

.site {
    @apply
        md:max-w-7xl lg:mx-auto
}
