.btn-menu {
    @apply items-center
           gap-3
           px-4
           text-left
           transition-colors
           cursor-pointer
           whitespace-nowrap
           hover:bg-gray-50
           hover:text-orange-500
           provider:hover:text-blue-500
           hover:lg:bg-transparent;
}

.site {
    @apply
        md:max-w-7xl lg:mx-auto
}

.form-input {
    @apply w-full pl-6 pr-12 py-4 text-lg border-2 rounded-xl outline-none transition-all relative border-gray-200 focus:border-orange-500 focus:ring-4 focus:ring-orange-100 bg-white;
}

.form-input-valid {
    @apply border-green-300 bg-green-50 focus:border-green-500 focus:ring-4 focus:ring-green-100;
}

.form-input-error {
    @apply border-red-300 bg-red-50 focus:border-red-500 focus:ring-4 focus:ring-red-100;
}

.form-input.with-icon {
    @apply pl-14;
}

.form-label {
    @apply flex items-center gap-2 text-sm font-bold text-gray-700 mb-2 mt-5;
}

.form-label svg {
    @apply text-orange-500 size-6;
}

.form-error {
    @apply text-red-600 text-sm mt-1 flex font-bold;
}